<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>CuteFont-Regular.ttf</string>
		<string>Dongle-Regular.ttf</string>
		<string>NanumBrushScript-Regular.ttf</string>
		<string>NanumPenScript-Regular.ttf</string>
		<string>BlackHanSans-Regular.ttf</string>
		<string>SongMyung-Regular.ttf</string>
		<string>NotoSansKR-Regular</string>
	</array>
</dict>
</plist>
